<!DOCTYPE html>
html(lang="en")
    head
        title PostOffline

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#333")

        link(rel="manifest", href="manifest.json")
        link(rel="icon", href="images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="styles/styles.css")
    body
        div.app
            h1 PostOffline
            form.postForm
                input.postForm-input(placeholder="Today was such a great day...", autofocus)
                button.postForm-button(type="submit") Send message
            ul.list

            include partials/_errors

        include partials/_scripts